node_modules
npm-debug.log
.DS_Store
.git

# exclude any previously copied React build.
# public/*
# for future me: ...or, if you DO keep whatever legit files in public/, exclude only dist-like stuff:
# public/**/*.js
# public/assets/