.card {
  /* background: var(--color-bg-card); */
  background-color: #17171a;
  color: #e4e4e6;
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.063);
  margin-bottom: 1.5rem;
  flex: 1;
  width: 100%;
}

.gridCard {
  /* background: var(--color-bg-card); */
  background-color: #17171a;
  color: #e4e4e6;
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.063);
  margin-bottom: 1.5rem;
  display: grid;
  width: 100%;
  grid-template-columns: .5fr .5fr;
}