.navbar {
    display: grid;
    grid-template-columns: repeat(3, minmax(0px, auto));
    height: min-content;
    align-items: center;
    background-color: var(--color-primary);
    font-weight: 500;
    font-size: var(--fs-400);
    overflow: hidden;
}

.logo,
.navlinks,
.login {
    height: 100%;
    display: flex;
    align-items: center;
    justify-self: end;
    flex-direction: row;
    flex: 1;

}

.logo {
    justify-self: start;

    img {
        max-width: 20vw;
        object-fit: contain;
        max-width: 20em;
    }

    p {
        white-space: nowrap;
        font-weight: 600;
    }

}

.navlinks {
    gap: 3em;
    padding: 0 3rem;
    margin: 0;
    border: 0;


    ul {
        margin: 0;
        list-style: none;
        gap: 1.5em;
        display: flex;
        flex-direction: row;

        li {
            white-space: nowrap;
        }
    }

}

.login {}

a {
    color: var(--color-navtext);
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .navbar {
    display: grid;
    grid-template-columns: repeat(2, minmax(0px, auto));
    height: min-content;
    align-items: center;
    background-color: var(--color-primary);
    font-weight: 500;
    font-size: var(--fs-400);
}
    .navlinks{
        display: none;
    }
}




// .logo:hover {
//     filter: drop-shadow(0 0 2em #646cffaa);
// }

// .logo.react:hover {
//     filter: drop-shadow(0 0 2em #61dafbaa);
// }

// @keyframes logo-spin {
//     from {
//         transform: rotate(0deg);
//     }

//     to {
//         transform: rotate(360deg);
//     }
// }

// @media (prefers-reduced-motion: no-preference) {
//     a:nth-of-type(2) .logo {
//         animation: logo-spin infinite 20s linear;
//     }
// }